.layoutGrid {
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    .navigation {
      margin-top: 10px;
      padding-left: 5px;
    }
    .table {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      margin-top: 10px;
      table {
        width: 100%;
      }
      h2 {
        text-align: center;
        padding: 5px;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
@media (max-width: 280px) {
  .layoutGrid {
    display: flex;
    flex-direction: column;
    width: 100%;
    .row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      .navigation {
        margin-top: 10px;
        padding-left: 5px;
      }
      .table {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        width: 350px;
        h2 {
          text-align: center;
          padding: 5px;
        }
        &::-webkit-scrollbar {
          display: none;
        }
        table {
          width: 350px;
        }
      }
    }
  }
}
